<section id="left-sidebar-menu">
    <ul>
      <li id="header">Main</li>
      <li class="active"><a href="#"><fa-icon icon="home"></fa-icon> Home</a></li>
      <li><a href="#"><fa-icon icon="border-none"></fa-icon> Table</a></li>
      <li>
        <a href="#" data-toggle="collapse"><fa-icon icon="lightbulb"></fa-icon> Components</a>
        <ul>
          <li><a href="#">Cards</a></li>
          <li><a href="#">Calendar</a></li>
          <li><a href="#">Gallery</a></li>
        </ul>
        </li>
    </ul>
    <ul>
      <li id="header">Quality</li>
      <li><a href="#"><fa-icon icon="hamburger"></fa-icon> Burger</a></li>
      <li><a href="#"><fa-icon icon="beer"></fa-icon> Beer<i class="fa fa-user fa-5x"></i></a></li>
    </ul>
  </section>