<section id="left-sidebar">
  <a id="logo" href="#" class="text-center">
    <span class="logo-lg">
      <!--<img src="https://forgottennetwork.org/logo.png" alt height="16">-->
      <div class="brand-text brand-big visible text-uppercase"><strong class="text-red">Easy</strong><strong class="text-default">Panel</strong></div>
    </span>
    <span class="logo-sm">
      <!--<img src="https://forgottennetwork.org/logo_sm.png" alt height="16">-->
      <div class="brand-text brand-big visible text-uppercase"><strong class="text-red">E</strong><strong class="text-default">P</strong></div>
    </span>
  </a>
  <app-left-sidebar-menu></app-left-sidebar-menu>
</section>